---
layout: compress
# Default layout
---

<!DOCTYPE html>

{% include lang.html %}

{% capture prefer_mode %}
  {% if site.theme_mode %}
    data-mode="{{ site.theme_mode }}"
  {% endif %}
{% endcapture %}

<html lang="{{ site.lang }}"{{ prefer_mode }}>

  {% include head.html %}

  {% unless site.theme_mode %}
    {% include mode-toggle.html %}
  {% endunless %}

  <body data-spy="scroll" data-target="#toc" data-topbar-visible="true">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5JJBHH"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% include sidebar.html %}

    {% include topbar.html %}

    <div id="main-wrapper">
      <div id="main">

        {{ content }}

        {% include footer.html %}

      </div>

      {% include search-results.html %}

    </div> <!-- #main-wrapper -->

    {% if page.mermaid %}
      {% include mermaid.html %}
    {% endif %}

    <div id="mask"></div>

    <a id="back-to-top" href="#" aria-label="back-to-top" class="btn btn-lg btn-box-shadow" role="button">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include search-loader.html %}

    {% include js-selector.html %}

  </body>

  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyBJNPjzcl0MfmOnqKAPv_DxEKE9BTtXatQ",
      authDomain: "univdev-github-io.firebaseapp.com",
      projectId: "univdev-github-io",
      storageBucket: "univdev-github-io.appspot.com",
      messagingSenderId: "259575315621",
      appId: "1:259575315621:web:c6a4b474e982f56f65a14c",
      measurementId: "G-Z60972D1V1"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>

</html>
